/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1060&t=st=1707793001~exp=1707793601~hmac=e584184926e25449b2a38b81313a365d75c3dfbd70cb53b69a234a66d2b63f8d'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-blur: 10px;
  overflow: hidden;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Glassmorphism effect */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Glassmorphism effect */
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.8); /* Glassmorphism effect */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
